name: Lint
on: pull_request

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('Cargo.lock', 'rust-toolchain.toml') }}-1

      - name: Check format
        run: cargo fmt -- --check

      - name: Run clippy
        run: cargo clippy -- -Dwarnings

  aggregate:
    name: lint:required
    runs-on: ubuntu-latest
    needs: lint
    if: ${{ always() }}
    steps:
      - if: ${{ needs.lint.result != 'success' }}
        run: exit 1
